<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>GUC Switch Hub</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
                <!-- MATERIAL DESIGN ICONIC FONT -->
                <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        
                <!-- STYLE CSS -->
                <link rel="stylesheet" href="SignUp.css">
                
            </head>
<body>



        <div class="wrapper" style="background-image: url('../static/stylesheets/css/SignUp/images/background.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="images/front.jpg" alt="">
				</div>
                <form action="/SendSwitchRequest" method="POST">
                    <br>
                </br>
                <br>
            </br>
         
          
                    <h3>Welcome To GUC Switch Hub!</h3>


                    <div class="test" >


                    <div class="" >
						<select name="major" required>
                        <option value="met">MET</option>
                        <option value="iet">IET</option>
                        <option value="ems">EMS</option>
                         <option value="general">General Engineering</option>
                        </select>
					</div>

                    <div class="form-wrapper">
						<input type="number" name="currentTut" placeholder="Current Tutorial" required>
					</div>

                    <div class="form-wrapper">
						<input type="number" name="desiredTut" placeholder="Desired Tutorial" required>
					</div>

                    <div class="">
						<select name="englishlevel" required>
                        <option value="ae">AE</option>
                        <option value="as">AS</option>
                        <option value="sm">SM</option>
                        <option value="cps">CPS</option>
                         <option value="rpw">RPW</option>
                         <option value="noenglish">None</option>
                        </select>
					</div>

                    <div class="">
                    <select name="germanlevel" required>
                        <option value="g1">German 1</option>
                        <option value="g2">German 2</option>
                        <option value="g3">German 3</option>
                        <option value="g4">German 4</option>
                        <option value="nogerman">None</option>
                        </select>
						
                    </div>
                </div>

                    <button>Submit Request
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>


</form>
</div>
</div>



</body>
</html>