<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GUC Switch Hub</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" type="text/css" href="SignUp.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('../static/stylesheets/css/SignUp/images/background.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="images/front.jpg" alt="">
				</div>
				<form action="/Home" method="POST">
<form>
                        <br>
                                
                        </br>

                        <br>
                        
                        </br>

						<br>
                        
                        </br>

                      
                 
					<div class="form-wrapper">
						<input type="email" placeholder="Email" class="form-control" name="email" id="text1">
						<i class="zmdi zmdi-account"></i>
					</div>

					<div class="form-wrapper">
							  
						<input type="password" placeholder="Password" class="form-control" name="password" id="text2">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button type="submit">Login
						<i class="zmdi zmdi-arrow-right"></i>
                    </button>
                    <br>
                    
					</br>
				</form>
				
				
				</form>
			</form>
		
	
			</div>
			<div class="test4">
			<form action="/SignUpLoader" method="POST">
				<button type="submit" >Sign Up Here
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
			</div>
		</div>
		
	</body>
	
		
		</form>
</html>