<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GUC Switch Hub</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/SignUp.css">
	</head>

	<body>
		<title> Login</title>
				<form action="/Home" method="POST">

						<label for="text1"> Email </label>
						<input type="email" name="email" id="text1" placeholder="Email">

						<label for="text2"> Password </label>
						<input type="password" name="password" id="text2" placeholder="Password">
					
						<input type="submit">
                    <br>
                    
					</br>
					
					<a href="SignUp.html">Sign Up</a>
				
				</form>
	</body>
</html>