


<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>GUC Switch Hub</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
                <!-- MATERIAL DESIGN ICONIC FONT -->
                <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        
                <!-- STYLE CSS -->
                <link rel="stylesheet" href="SignUp.css">
                
            </head>
<body>
    <br>
</br>
<br>
</br>
       
                        <div class="test3">
					<img src="images/front.jpg" alt="">
                
            </div>
            <div class="test2">
                    
<h1>You have already submitted a request before. You cannot submit a new request.</h1>
</div>


</body>
</html>